  <link type="text/css" rel="stylesheet" href="/assets/css/lightslider.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.12/css/lightgallery.css" />
  <script src="/assets/js/lightslider.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.12/js/lightgallery.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.12/js/lg-thumbnail.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.12/js/lg-fullscreen.min.js"></script> -->
