  <!-- Open Graph -->
  <meta property="og:locale" content="{{ site.locale }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">